body {
  background-color: aliceblue;
}

.mg {
  margin-bottom: 5rem;
}

.remove_btn {
  background-color: rgb(218 37 37);
  color: #fff;
}
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  text-decoration: none;
  list-style: none;
  margin-left: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}
